

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #20e219;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 500px; /* Adjust this to your preferred grid size */
    border: 5px solid black;
    border-radius: 5px;
    box-sizing: content-box; /* Keep this as border-box */
    margin: 0 auto; /* Center the container */
  }
  

  .grid-square {
    width: calc(100% / 16 - 2); /* Adjust this to control the grid size */
    height: calc(100% / 16 - 2); /* Maintain square aspect ratio by setting height */
    border: 1px solid black;
    background-color: white;
    user-select: none; /* Prevent text selection */
    box-sizing: border-box;
    flex-grow: 0; /* Prevent flex items from growing and causing wrapping */
    flex-shrink: 0; /* Prevent flex items from shrinking and causing wrapping */
  }
  
  #controls {
    border-radius: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 30vh;
    height: 60vh;
    background-color: #05a582;
    margin-right: 10%;
 }

  .controlsButton {
    display: inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    }

.hide {
    border: none;
}

#changeGridDiv {
  align-self: center;
}

#right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sliderValue {
  font-size: 24px;
  align-self: center;
  margin-bottom: 30px;
}

#gridContainer {
  /* Add other styles */
  border: 1px solid transparent; /* Add this line to hide the border initially */
}

.hide-border .grid-square {
  border: none; /* Update the selector to target grid squares when container has "hide-border" class */
}

#color-input {
  width: 100px;
  border-radius: 50%;
  padding: 50px;
  border: 3px solid black;
  background-color: rgb(238, 31, 31);
  transition: background-color 0.3s ease;
}